/* css reset */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-body-top: #259688;
    --bgd-body-down: #DBDBD3;
    --bgd-serch-bar: #FAFAFA;
    --bgd-top-user: #EAEAEA;
    --bgd-notifications: #8EDAFC;
    --bdg-white: #FFFFFF;
    --color-top-icons: #B1B1B1;
    --color-down-icons: #6B7376;
    --bgd-mesage-sent: #D5F9BA;
    --bgd-message-received: #FFFFFF;
}

/* utilities */
img {
    max-width: 100%;
    height: auto;
}

/* avatar image */
.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* message */
.message {
    width: 300px;
    min-height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 40px;
}

/* message sent */
.message.sent {
    background-color: var(--bgd-mesage-sent);
    margin-left: 330px;
}

/* message received */
.message.received {
    background-color: var(--bgd-message-received);
}

/* body */
body {
    background-image: linear-gradient(#259688 15%, #DBDBD3 15%);
}


/* root */
#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
main {
   max-width: 1200px;
   height: 90vh;
   width: 90%;
   display: flex;
}

/* ............left side.......... */

/* user area */
.user-area {
    flex: 0 0 350px; 
    height: 100%;
    background-color: var(--bdg-white);
}

/* user */
.user-area .user {
    background-color: var(--bgd-top-user);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-image  {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

/* top icons */
.user i, .contact i {
    font-size: 20px;
    padding-left: 20px;
    color: var(--color-top-icons);
    cursor: pointer;
}

/* notifications */
.user-area .notifications {
    background-color: var(--bgd-notifications);
    height: 90px;
    display: flex;
    align-items: center;
}

/* cicle icon container */
.notifications .circle-icon-container {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }

  /* cicle icon */
  .notifications .circle-icon-container i {
    color: var(--bgd-notifications);
    font-size: 20px;
    cursor: pointer;
  }

  .notifications a {
    color: #6B7376;
  }

  /* serch bar */
  .serch-bar {
    height: 52px;
    width: 100%;
    background-color: var(--bgd-serch-bar);
}

/* list contacs */
.user-area .list-contacts {
    background-color: var(--bdg-list-contacs);
    overflow-y: auto;
    max-height: calc(100% - 222px);
}

.contact-item .contact-info{
    display: flex;
    align-items: center;
    padding: 20px 25px;
    gap: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
}

/*........... right side  ............*/

/* massage area*/
.message-area {
    flex: 1 1 auto;
    height: 100%;    
}

/* contact */
.contact {
    background-color: var(--bgd-top-user);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid lightgray;
}

/* main chat */
.main-chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 160px);
    overflow-y: auto;
    padding: 40px 60px;
}

/* text area */
.text-area {
    background-color: #F3EEEA;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* icons down - text-area */
.text-area i {
    font-size: 25px;
    color: var(--color-down-icons);
    cursor: pointer;
}