
/* custom properties */
:root {
    --bgd-body-top: #259688;
    --bgd-body-down: #DBDBD3;
}

/* body */
body {
    background-color: #DBDBD3;
    background-image: linear-gradient(#259688, #259688);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100px;   
}


/* window */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container boolzapp */
.container-boolzapp{
   width: 80%;
   height: 95vh;
   display: flex;
}

/* conact */
.contact {
    flex: 0 0 500px; 
    height: 100%;
    background-color: rebeccapurple;
}

/* massage */
.message {
    flex: 1 1 auto;
    height: 100%;
    background-color: aquamarine;
    
}